<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta content="yes" name="apple-mobile-web-app-capable" />-->
    <!--<meta content="yes" name="apple-touch-fullscreen" />-->
    <!--<meta name="data-spm" content="a215s" />-->
    <!--<meta content="telephone=no,email=no" name="format-detection" />-->
    <!--<meta content="fullscreen=yes,preventMove=no" name="ML-Config" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Moment</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/build/images/favicon.ico" />
    <link rel="stylesheet" href="/static/build/libs/styles/initial.css" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?9f9a43d8d225912eee44e24d8eee4302";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="mobile-body">
