<%include ../inc/header.html%>
<%include ../inc/left.html%>
<div class="inner">
    <div class="main">
        <div class="broad-main" style="overflow: visible">
            <div class="page js_defaultPage">

            </div>
        </div>
    </div>
</div>
<script src="/static/media/common_lib_3rd/core/backbone/1.3.2/backbone-min.js"></script>
<script>
    var PHP_userId = "1345228280";
    var PHP_CDN_ROOT = "http://apitest.yourdream.cc/media";
    var mediaUrl = "http://apitest.yourdream.cc/media";
    var PHP_UPLOAD_URL = "http://apitest.yourdream.cc/business.php?method=image.doUploadImage&type=1";
    var PHP_PHPSESSIONID = "orgf8flo4vsp0mmmqvtlocgpi7";
    var PHP_isAdmin = false;
    var PHP_isChanged = false;
    var PHP_PAGE_TYPE = 1;
    var rcodeUrl = "http://apitest.yourdream.cc/index.php?method=ba.showMobileHomePage&userId=1345228280";
</script>
<script src="/static/media/javascript/business/shopDecoration/entry-min.js"></script>
<script>
    $(function() {
        window.entrance.init(1,false);
    });
</script>
<%include ../inc/footer.html %>
