<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Moment</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/build/images/favicon.ico" />
    <link rel="stylesheet" href="/static/build/libs/styles/initial.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/build/libs/plugin/notification/notification.css">
</head>
<body style="background: #000;">
<div id="js_particles"></div>
<div class="page-wrap js_pageWrap"></div>
<script type="text/javascript" src="/static/build/libs/core/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/build/libs/core/underscore/1.8.3/underscore.min.js"></script>
<script type="text/javascript" src="/static/build/libs/core/vue/1.0/vue.min.js"></script>
<script type="text/javascript" src="/static/build/libs/plugin/particles/particles.min.js"></script>
<script type="text/javascript" src="/static/build/libs/plugin/notification/classie.js"></script>
<script type="text/javascript" src="/static/build/libs/plugin/notification/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/build/libs/plugin/notification/notificationFx.js"></script>
<script type="text/javascript" src="/static/build/libs/plugin/theater/theater.min.js"></script>
<script type="text/javascript" src="<%= controller.entryJs %>"></script>
</body>
</html>