<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>穿衣助手::商家平台</title>
    <script src="/static/media/common_lib_3rd/core/jquery/1.9.1/jquery.js"></script>
    <script src="/static/media/common_lib_3rd/core/underscore/1.8.3/underscore-min.js"></script>
    <script src="/static/media/common_lib_3rd/core/vue/1.0/vue.js"></script>
    <link href="/static/media/javascript/business/commonMenu/header/headerNav.css" rel="stylesheet">
</head>
<body>
<div id="js_page" class="header">
    <div class="header-nav-wrap">
        <div class="header-nav-content clearfix">
            <div class="header-cyzs-icon-wrap">
                <a class="header-cyzs-icon" href="javascript:void(0);"></a>
                <span><em class="fir">|</em>商家平台</span>
            </div>
            <% controller.topMenuData.list.forEach(function(menu){%>
            <a href="<%=menu.link%>" class="h-nav-list <% if(menu.isSelected == '1'){ %>curr<% }%>" data-type="<%=menu.dataType%>"><%=menu.name%></a>
            <%})%>
            <div class="h-nav-login-wrap">
                <div>头像,用户名,登录</div>
            </div>
        </div>
    </div>
</div>
<div class="page">
