<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Demo</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/build/images/favicon.ico" />
    <link rel="stylesheet" href="/static/build/libs/styles/initial.css" type="text/css">
</head>
<body>
    <div class="page-wrap js_pageWrap" id="page">
    </div>
    <script type="text/javascript" src="<%= controller.entryJs %>"></script>
</body>
</html>