<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试上传</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/build/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/build/libs/styles/initial.css">
</head>
<body>
<div class="page-wrap js_pageWrap">
    <div id="js_uploadBakImg" style="width:200px;height:40px;text-align: center;background-color: #fff;">Upload</div>
</div>
<script type="text/javascript" src="/static/build/libs/core/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/build/libs/plugin/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="<%= controller.entryJs %>"></script>
</body>
</html>