body{
  background-color: #000;
}
.main-tpl{
  position: absolute;
  top:35%;
  right:8%;
  .row{
    padding: 10px 0;
    input{
      width:300px;
      padding: 10px;
      font-size: 17px;
      border: 1px solid #d3d2d7;
      border-radius: 5px;
      color:#fff;
      background-color: transparent;
      outline:none;
    }
    .login{
      background-color:rgba(255,255,255,0.3);
      cursor: pointer;
    }
    .login:hover{
      background-color:rgba(255,255,255,0.6);
    }
  }

}