body{
  background-color: #000;
}
.main-tpl{
  position: absolute;
  top:35%;
  right:8%;
  .row{
    height:40px;
    min-width: 300px;
    margin: 20px 0;
    position: relative;
    input{
      position: absolute;
      top:0;
      left:0;
      width:300px;
      padding: 10px;
      font-size: 17px;
      border: 1px solid #d3d2d7;
      border-radius: 5px;
      color:#fff;
      background-color: transparent;
      outline:none;
      display: none;
    }
    .login{
      background-color:rgba(255,255,255,0.3);
      cursor: pointer;
    }
    .login:hover{
      background-color:rgba(255,255,255,0.6);
    }
    .login:active{
      background-color:rgba(255,255,255,0.6);
    }
    .first{
      animation: first 1s cubic-bezier(0, 0, 0.66,-0.29);
      -webkit-animation: first 1s cubic-bezier(0, 0, 0.66,-0.29);
      -moz-animation: first 1s cubic-bezier(0, 0, 0.66,-0.29);
      -o-animation: first 1s cubic-bezier(0, 0, 0.66,-0.29);
    }
    .second{
      animation: second 1s cubic-bezier(0, 0, 0.89,-0.43);
      -webkit-animation: second 1s cubic-bezier(0, 0, 0.89,-0.43);
      -moz-animation: second 1s cubic-bezier(0, 0, 0.89,-0.43);
      -o-animation: second 1s cubic-bezier(0, 0, 0.89,-0.43);
    }
    .third{
      animation: third .5s ease-in;
      -webkit-animation: third .5s ease-in;
      -moz-animation: third .5s ease-in;
      -o-animation: third .5s ease-in;
    }
  }

}
.theater{
  position: absolute;
  top:40%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  color:#fff;
  font-size: 24px;
  text-align: center;
  div{
    line-height: 60px;
  }
}

@-webkit-keyframes first {
  from   {left:-1000px;opacity: 0}
  50%{
    left:20px;
    opacity: 1
  }
  60%{
    left:-13px;
  }
  70%{
    left:7px;
  }
  80%{
    left:-5px;
  }
  90%{
    left:3px;
  }
  to {left:0;opacity: 1}
}
@-moz-keyframes first {
  from   {left:-1000px;opacity: 0}
  70%{
    left:50px;
    opacity: 1
  }
  80%{
    left:20px;
  }
  88%{
    left:-15px;
  }
  92%{
    left:10px;
  }
  to {left:0;opacity: 1}
}
@-o-keyframes first {
  from   {left:-1000px;opacity: 0}
  70%{
    left:50px;
    opacity: 1
  }
  80%{
    left:20px;
  }
  88%{
    left:-15px;
  }
  92%{
    left:10px;
  }
  to {left:0;opacity: 1}
}
@keyframes first {
  from   {left:-1000px;opacity: 0}
  50%{
    left:20px;
    opacity: 1
  }
  60%{
    left:-13px;
  }
  70%{
    left:7px;
  }
  80%{
    left:-5px;
  }
  90%{
    left:3px;
  }
  to {left:0;opacity: 1}
}

@-webkit-keyframes second {
  from   {top:-300px;opacity: 0}
  60%{
    top:15px;
    opacity: 1;
  }
  70%{
    top:-10px;
    opacity: 1;
  }
  77%{
    top:6px;
    opacity: 1;
  }
  85%{
    top:-3px;
    opacity: 1;
  }
  92%{
    top:2px;
    opacity: 1;
  }
  to {top:0;opacity: 1}
}
@-moz-keyframes second {
  from   {top:-300px;opacity: 0}
  60%{
    top:15px;
    opacity: 1;
  }
  70%{
    top:-10px;
    opacity: 1;
  }
  77%{
    top:6px;
    opacity: 1;
  }
  85%{
    top:-3px;
    opacity: 1;
  }
  92%{
    top:2px;
    opacity: 1;
  }
  to {top:0;opacity: 1}
}
@-o-keyframes second {
  from   {top:-300px;opacity: 0}
  60%{
    top:15px;
    opacity: 1;
  }
  70%{
    top:-10px;
    opacity: 1;
  }
  77%{
    top:6px;
    opacity: 1;
  }
  85%{
    top:-3px;
    opacity: 1;
  }
  92%{
    top:2px;
    opacity: 1;
  }
  to {top:0;opacity: 1}
}
@keyframes second {
  from   {top:-300px;opacity: 0}
  60%{
    top:15px;
    opacity: 1;
  }
  70%{
    top:-10px;
    opacity: 1;
  }
  77%{
    top:6px;
    opacity: 1;
  }
  85%{
    top:-3px;
    opacity: 1;
  }
  92%{
    top:2px;
    opacity: 1;
  }
  to {top:0;opacity: 1}
}

@-webkit-keyframes third {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    top:3000px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-5px;
  }

  to {
    top:0;
  }
}
@-moz-keyframes third {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    top:3000px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-5px;
  }

  to {
    top:0;
  }
}
@-o-keyframes third {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    top:3000px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-5px;
  }

  to {
    top:0;
  }
}
@keyframes third {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    top:3000px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-5px;
  }

  to {
    top:0;
  }
}

@media screen and (max-width:600px){
  .main-tpl{
    top:50%;
    left:50%;
    right:inherit;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
  .theater{
    width:95%;
    font-size: 22px;
  }
}