<div>
    <div class="main-tpl js_mainTpl">
        <div class="row">
            <input class="username" v-model="username" @keyup.enter="onLogin" placeholder="username" autocomplete='off'>
        </div>
        <div class="row">
            <input type="password" class="password" v-model="password" @keyup.enter="onLogin" placeholder="password" autocomplete='off'>
        </div>
        <div class="row">
            <input type="button" class="login transition" value="Login" @click="onLogin">
        </div>
    </div>
    <div class="theater js_theater">
        <div id="kobe"></div>
        <div id="t-mac"></div>
    </div>
</div>