<div>
    <div class="main-tpl js_mainTpl">
        <div class="row">
            <input type="text" autocomplete='off' class="username" v-model="username" @keyup.enter="onLogin" required="" placeholder="username">
        </div>
        <div class="row">
            <input type="password" autocomplete='off' class="password" v-model="password" @keyup.enter="onLogin" required="" placeholder="password">
        </div>
        <div class="row">
            <input type="button" class="login transition" value="Login" @click="onLogin">
        </div>
    </div>
    <div class="theater js_theater">
        <div id="kobe"></div>
        <div id="t-mac"></div>
    </div>
</div>