<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script type="text/javascript" src="/static/build/libs/core/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
    <script>
        var msg = {
            relationId:500000+"",
            speakerId:100000,
            audienceId:100001,
            message:"我正在家里写代码呢"
        };
        Pusher.logToConsole = true;
        var pusher = new Pusher('f04759682e5fa7e8ae8c', {
            encrypted: true
        });

        var channel = pusher.subscribe(msg.relationId);
        channel.bind('moment-push', function(data) {
            console.log(data);
            $(".js_chatList").append("<p style='line-height: 40px;background: #ccc;color:#fff;'>"+data.message+"</p>")
        });
    </script>
</head>
<body>
<h2>Chat Room</h2>
<div>
    <button class="js_send">发送消息</button>
</div>
<div class="js_chatList">

</div>
<script>
    $(function () {
        var msg = {
            relationId:500000,
            speakerId:100000,
            audienceId:100001,
            message:"你好你好"
        };
        $(".js_send").click(function () {
            $.ajax({
                url:"/business/chat/send",
                type:"POST",
                data:msg,
                success:function (response) {
                    alert(response.data.message);
                }
            });
        });
    })
</script>
</body>
</html>