<%include ../inc/header.html%>
<div class="page-wrap js_pageWrap" style="background-color: #fff;width:100%;height:100%;">
    <!--路由占位符-->
    <router-view></router-view>
</div>
<script type="text/javascript" src="/static/build/libs/core/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/build/libs/plugin/alloyFinger/alloy.finger.js"></script>
<script type="text/javascript" src="/static/build/libs/core/vue/1.0/vue.min.js"></script>
<script type="text/javascript" src="/static/build/libs/core/vueRouter/1.0/vue-router.min.js"></script>
<script type="text/javascript" src="<%= controller.entryJs %>"></script>
<%include ../inc/footer.html %>
